@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;700;800&display=swap');
@import './variables';
* {
  font-family: 'Poppins', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100%;
  height: 100%;
  min-height: 100vh;
  position: relative;
  background-color: $second_bg;
}

header {
  background-color: white;
  padding-bottom: 10px;
}

nav {
  flex-wrap: wrap;
  align-items: center;
  padding: 0 15px;
  margin: 0 auto;
  width: 70%;
  ul {
    list-style-type: none;
    margin-top: 25px;
    align-items: center;
    width: 100%;

    .navbar__title {
      font-size: 1.3em;
      font-weight: bold;
      text-transform: uppercase;
      letter-spacing: 0.15em;
      color: $verydark_blue;
    }

    li {
      display: inline-block;
      font-size: 1.1em;
      margin: 0 15px;
      color: $neutral_gray;
      font-weight: bold;
      cursor: pointer;

      &:hover {
        color: $verydark_blue;
      }
    }
  }
}

.mr-4 {
  margin-right: 10px;
}

section {
  padding-bottom: 9rem;
}

.container {
  padding: 30px 20px;
  margin: 0 auto;
  margin-top: 20px;
  width: 70%;
}

hr {
  margin-bottom: 20px;
}

.games__container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-auto-rows: 1fr;
  gap: 20px;

  a {
    text-decoration: none;
    color: $verydark_blue;
  }

  div {
    background-color: white;
    border-radius: 8px;
  }

  img {
    width: 100%;
    border-radius: 8px 8px 0 0;
    object-fit: cover;
  }
  .game__content {
    padding: 10px 15px;

    .game__footer {
      margin-top: 10px;
      align-items: center;

      span {
        font-weight: bold;
        font-size: 1.2em;
        color: $secondary_red;
      }

      button {
        text-transform: uppercase;
        background-color: $primary_cyan;
        color: white;
        border: none;
        font-size: 1.1em;
        border-radius: 5px;
        font-weight: bold;
        cursor: pointer;
        padding: 3px 20px;
      }
    }
  }

  .game__card {
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
    cursor: pointer;

    &:hover {
      box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    }
  }
}

.pagination {
  list-style-type: none;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 25px;
  li {
    display: inline-block;
    margin: 10px 15px;
    background-color: white;
    padding: 5px 15px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    font-weight: bold;
    cursor: pointer;

    &:hover {
      background-color: $verydark_blue;
      color: white;
      transition: 0.3s;
    }
  }

  .currentPage {
    background-color: $verydark_blue;
    color: white;
  }
}

.font-bold {
  font-weight: bold;
}

.font-normal {
  font-weight: normal;
}

.game-detail__container {
  display: grid;
  grid-template-columns: 2fr 1fr;
  max-height: fit-content;

  .game__info {
    margin: 5px 0;

    .font-bold {
      margin-right: 15px;
    }
  }

  .img__container {
    height: 100%;
    display: flex;
    justify-content: center;
  }
  .game__image {
    border-radius: 5px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  }

  .game__content {
    color: $verydark_blue;

    p {
      text-align: justify;
      margin-top: 15px;
      line-height: 2em;
    }

    .price-top {
      font-size: 0.9em;
      font-weight: bold;
    }

    .game__price {
      color: $secondary_red;
      font-weight: bold;
      font-size: 1.8em;
      margin-top: 0;
    }

    .free-return {
      background-color: white;
      padding: 10px;
      border-radius: 8px;
      margin-bottom: 15px;
      span {
        font-size: 0.8em;
        font-weight: bold;
      }
      p {
        margin-top: 0;
        font-size: 0.9em;
      }
    }

    .select-div {
      p {
        font-weight: bold;
      }
      select {
        width: 100%;
        border-radius: 10px;
        border: none;
        padding: 15px;
        outline: none;

        &:focus {
          outline: 2px solid white;
        }
      }
    }

    button {
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 10px 15px;
      border: none;
      font-weight: bold;
      width: 100%;
      text-transform: uppercase;
      border-radius: 5px;
      background-color: $primary_cyan;
      color: white;
      margin-top: 5%;
      cursor: pointer;

      &:hover {
        background-color: hsl(180, 66%, 71%);
        transition: 0.3s;
      }
      span {
        margin-left: 5px;
      }
    }
  }
}

.comments__container {
  margin-top: 40px;

  h2 {
    color: $verydark_blue;
  }

  .comments__grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    .comment {
      padding: 10px;
      background-color: white;
      margin-bottom: 10px;
      border-radius: 10px;
      box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;

      .comment__header {
        display: flex;
        align-items: center;

        .comment__user {
          margin-left: 10px;
          font-weight: bold;
          font-size: 1.1em;
        }
      }
    }

    .comment__box {
      padding: 0 40px;
      h3 {
        text-align: center;
        margin-bottom: 15px;
      }
      form {
        padding: 20px;
        background-color: white;
        border-radius: 10px;
        box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
        label {
          font-weight: bold;
        }

        textarea {
          width: 100%;
          background-color: $second_bg;
          border: none;
          border-radius: 8px;
          padding: 10px;
          outline: none;
          resize: none;

          &:focus {
            outline: 2px solid $second_bg;
          }
        }
      }
    }
  }
}

.animation__loading {
  margin-left: auto;
  margin-right: auto;
  border: 16px solid white;
  border-radius: 50%;
  border-top: 16px solid $verydark_blue;
  width: 120px;
  height: 120px;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

footer {
  background-color: $verydark_blue;
  position: absolute;
  bottom: 0;
  width: 100%;

  .footer__container {
    padding: 40px 15px 50px 15px;
    margin: 0 auto;
    width: 70%;

    div {
      margin: 0 15px;

      h1 {
        color: white;
        text-transform: uppercase;
        letter-spacing: 0.1em;
        cursor: pointer;
      }
    }

    .footer__links {
      margin-top: 10px;

      div {
        margin: 0 45px;

        h4 {
          color: $neutral_gray;
          cursor: pointer;
          font-size: 1.1em;

          &:hover {
            color: $primary_cyan;
          }
        }
      }
    }
  }
}

.form__container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  height: 100%;

  h1 {
    text-transform: uppercase;
    margin-bottom: 10px;
    color: $verydark_blue;
  }

  form {
    width: 30%;
    background-color: white;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    border-radius: 10px;
    padding: 30px;

    label {
      font-weight: 600;
    }

    input {
      width: 100%;
      margin: 12px 0;
      background-color: $second_bg;
      border: none;
      border-radius: 8px;
      padding: 10px;
      outline: none;

      &:focus {
        outline: 2px solid $second_bg;
      }
    }
  }
}

.likes__container {
  display: flex;
  align-items: flex-start;

  .heart__image {
    cursor: pointer;
    transition: all 0.2s ease-in-out;

    &:hover {
      transform: scale(1.1);
    }
  }
  .likes {
    font-size: 1.1em;
    margin-left: 5px;
  }
}

.flex-class {
  display: flex;
  justify-content: space-between;
}

.button__container {
  display: flex;
  justify-content: center;
}

.button {
  text-transform: uppercase;
  background-color: $primary_cyan;
  color: white;
  border: none;
  font-size: 1em;
  border-radius: 5px;
  font-weight: bold;
  cursor: pointer;
  padding: 3px 20px;
  margin-top: 10px;

  &:hover {
    background-color: hsl(180, 66%, 71%);
    transition: 0.3s;
  }
}

.errorMsgLogin {
  margin-top: 10px;
  background-color: $secondary_red;
  padding: 10px;
  color: white;
  font-weight: bold;
}

.tags {
  color: $neutral_grayviolet;
  display: inline-block;
  margin-right: 8px;
  font-size: 0.875em;
  text-transform: uppercase;
  font-weight: 600;
  letter-spacing: 0.02em;
}

@media (max-width: 1440px) {
  .games__container {
    grid-template-columns: repeat(4, 1fr);
  }

  .container {
    width: 90%;
  }
}

@media (max-width: 1024px) {
  .games__container {
    grid-template-columns: repeat(3, 1fr);
  }

  footer {
    .footer__container {
      width: 80%;
    }
  }

  .form__container {
    form {
      width: 50%;
    }
  }
}

@media (max-width: 882px) {
  .games__container {
    grid-template-columns: repeat(2, 1fr);
  }

  footer {
    .footer__container {
      width: 90%;
    }
  }

  .comments__container {
    .comments__grid {
      .comment__box {
        padding: 0;
      }
    }
  }

  .form__container {
    form {
      width: 60%;
    }
  }

  nav {
    width: 90%;
  }

  .game-detail__container {
    grid-template-columns: 1fr 1fr;
    gap: 20px;

    .game__image {
      width: 300px;
      object-fit: cover;
    }

    .game__footer {
      margin-top: 20px;
      display: flex;
      justify-content: space-between;
      flex-direction: row-reverse;
    }
  }
}

@media (max-width: 670px) {
  .game-detail__container {
    grid-template-columns: 1fr;

    .img__container {
      align-items: flex-start;
    }
  }

  .comments__container {
    .comments__grid {
      grid-template-columns: repeat(1, 1fr);

      .order-reverse {
        order: -1;
      }
    }
  }
}

@media (max-width: 540px) {
  .games__container {
    grid-template-columns: 1fr;
  }

  .game-detail__container {
    .font-bold {
      display: block;
    }
  }

  footer {
    .footer__container {
      padding: 20px 10px 30px 0px;
      .footer__links {
        div {
          margin: 0;
        }
      }
    }
  }
  .form__container {
    form {
      width: 100%;
    }
  }
  nav {
    width: 100%;
    padding: 0 5px;
    ul {
      li {
        margin: 0 5px;
      }
    }
  }
}

@media (max-width: 325px) {
  .game-detail__container {
    grid-template-columns: 1fr;

    .img__container {
      img {
        width: 100%;
      }
    }
  }
  nav {
    ul {
      div {
        display: flex;
        justify-content: flex-end;
        flex-direction: column;
      }
    }
  }
}
